html {
    background: url(../../images/bg.png) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-attachment: bottom;
}

.body {
    background: url(../../images/bg.png) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-attachment: bottom;
}

.imageIntro {
    text-align: center;
    margin-top: 5em;
}

.myLogo {
    width: 290px;
    margin-top: 3em;
    margin-bottom: 1em;
    border-radius: 50%;
    background-color: #ffffffd8;
    border: 3px solid #181212;
}

.name {
    font-size: 60px;
    width: 100%;
    color: #ffffff;
    margin-bottom: -5px;
    font-family: 'Patrick Hand', cursive;
    text-shadow: 2px 2px #181212;
    letter-spacing: 5px;
}

.intro {
    color: #ffffff;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    text-shadow: 2px 2px #181212;
    letter-spacing: 5px;
}

.icon {
    width: 40px;
    padding: 10px;
    margin-top: -5em;
}

.icon { transition: all .2s ease-in-out; }
.icon:hover { transform: scale(1.1); }


@media screen and (max-width:1200px){
    .name{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .name {
        font-size: 50px;
    }
    .intro {
        font-size: 25px;
    }
}



