/* Main Page Container */
.mainIntro {
    text-align: center;
    margin-top: 3.5em;
    height: 40vh;
    background: url(../../images/background.png) no-repeat center center; 
    background-attachment: bottom;
}

.name {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
    padding-top: 4em;
    font-family: 'Averia Sans Libre', cursive;
    letter-spacing: 10px;
    font-weight: 900;
}

.intro {
    color: #ffffff;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 10px;
    letter-spacing: 6px;
}

.pushUP {
    margin-bottom: 2em;
}

.hrLineBlack {
    width: 40px;
    border: 1px solid #181212;
    margin-top: -30px;
}

.ideas {
    color: #181212;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 10px;
    letter-spacing: 6px;
    text-align: center;
    margin-top: 2em;
}

.boxHR {
    width: 45%;
    border: -1px solid #929292;
}

.robot {
    width: 15px;
}

.icon { transition: all .2s ease-in-out; }
.icon:hover { transform: scale(1.1); }


@media screen and (max-width:1200px){
    .name{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .name {
        font-size: 24px;
    }
    .intro {
        font-size: 10px;
    }
}



