.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(https://images.unsplash.com/photo-1448697138198-9aa6d0d84bf4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

@media only screen and (max-device-width: 1366px) {
    .hero {
      background-attachment: scroll;
    }
  }

.hero h1 {
    font-size: 90px;
    color: #fafafa;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 5px;
}

.hero h2 {
    color: #fafafa;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 5px;
    font-size: 16px;
}

body html{
    margin: 0;
    padding: 0;
    background-color: #fafafa;
  }
  .arrow{
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%,-50%);
  }
  .arrow span{
      display: block;
      width: 10px;
      height: 10px;
      border-bottom: 2px solid #06A8FF;
      border-right: 2px solid #06A8FF;
      transform: rotate(45deg);
      animation: animate 2s infinite;
  }
  .arrow span:nth-child(2){
      animation-delay: -0.2s;
  }
  .arrow span:nth-child(3){
      animation-delay: -0.4s;
  }
  @keyframes animate {
      0%{
          opacity: 0;
          transform: rotate(45deg) translate(-20px,-20px);
      }
      50%{
          opacity: 1;
      }
      100%{
          opacity: 0;
          transform: rotate(45deg) translate(20px,20px);
      }
  }

h3 {
    position: relative;
    font-size: 20px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: #666666;
    margin-top: 5em;
}

  h3:before, h3:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 20%;
    height: 2px;
    content: '\a0';
    background-color: #dddddd;
}

h3:before {
    margin-left: -20%;
    text-align: right;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 5em;
}

.box {
    width: 18%;
    height: 300px;
    margin: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

@media screen and (max-width:1200px){
    .box{
        width: 40%;
    }
}

@media screen and (max-width: 600px){
    .box{
        width: 70%;
    }
}

.boxTitle {
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #666666;
}

.boxList {
    color: #666666;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

.card {
    padding: 15px;
}

.textSkills {
    color: #e53100;
}
