html {
    border: 10px solid #181212;
}

.hero {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #181212;
}

.hero-inner {
    margin-top: -5em;
}

.body {
    background-color: #f7f7f7;
}

.myLogo {
    width: 80px;
    margin-top: 9em;
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.name {
    font-size: 60px;
    width: 100%;
    color: #FAFAFA;
    margin-bottom: 5px;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 10px;
}

.intro {
    color: #FAFAFA;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 5px;
    font-size: 20px;
}

.textSkills {
    position: relative;
    font-size: 21px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: #666666;
    margin-top: 4em;
}

  .textSkills:before, .textSkills:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 20%;
    height: 2px;
    content: '\a0';
    background-color: #dddddd;
}

.textSkills:before {
    margin-left: -20%;
    text-align: right;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 5em;
    background-color: #f7f7f7;
    padding-bottom: 0.5em;
}

@media screen and (max-width:1200px){
    .name{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .name {
        font-size: 30px;
    }
    .intro {
        font-size: 20px;
    }
}

.pushUP {
    margin-top: -30px;
    
}

.cardBox {
    box-sizing: border-box;
    margin: 25px;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    padding-top: 10px;
}

.boxCont {
    text-align: center;
    margin-top: -75px;
}

.boxTitle {
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    color: #181212;
    width: 100%;
    text-align: center;
    margin-top: -5px;
}

.boxList {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: #666666;
}

.textSkills {
    color: #e53100;
    letter-spacing: 5px;
}

.skillsIcon {
    width: 80px;
    margin-left: 36%;
    margin-bottom: 5px;
}