html {
    border: 10px solid black;
}

.hero {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #181212;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
}

.body {
    background-color: #f7f7f7;
}

@media only screen and (max-device-width: 1366px) {
    .hero {
      background-attachment: scroll;
    }
  }

.name {
    font-size: 80px;
    width: 100%;
    color: #FAFAFA;
    margin-top: 1em;
    margin-bottom: 10px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 5px;
}

.intro {
    color: #FAFAFA;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 5px;
    font-size: 20px;
}

.textSkills {
    position: relative;
    font-size: 21px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: #666666;
    margin-top: 5em;
}

  .textSkills:before, .textSkills:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 20%;
    height: 2px;
    content: '\a0';
    background-color: #dddddd;
}

.textSkills:before {
    margin-left: -20%;
    text-align: right;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 5em;
    background-color: #f7f7f7;
    padding-bottom: 3em;
}

@media screen and (max-width:1200px){
    .flip-card{
        width: 40%;
    }
}

@media screen and (max-width: 600px){
    .flip-card{
        width: 70%;
    }
}

.cardBox {
    box-sizing: border-box;
    margin: 25px;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    padding-top: 10px;
}

.boxCont {
    text-align: center;
    margin-top: -50px;
}

.boxTitle {
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
    color: #111111;
    width: 100%;
    text-align: center;
    backface-visibility: hidden;
    margin-top: -5px;
}

.boxList {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: #666666;
}

.textSkills {
    color: #e53100;
}

.skillsIcon {
    width: 95px;
    margin-left: 34%;
}