.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.2)), url(../../images/bg1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.body {
    background-color: #f7f7f7;
}

@media only screen and (max-device-width: 1366px) {
    .hero {
      background-attachment: scroll;
    }
  }

.name {
    font-size: 90px;
    width: 100%;
    color: #fafafa;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 5px;
    text-shadow: 3px 3px #000000;
}

.intro {
    color: #fafafa;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 5px;
    font-size: 20px;
    text-shadow: 2px 2px #000000;
}

body html{
    margin: 0;
    padding: 0;
    background-color: #fafafa;
  }
  .arrow{
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%,-50%);
  }
  .arrow span{
      display: block;
      width: 10px;
      height: 10px;
      border-bottom: 3px solid #fafafa;
      border-right: 3px solid #fafafa;
      transform: rotate(45deg);
      animation: animate 2s infinite;
  }
  .arrow span:nth-child(2){
      animation-delay: -0.2s;
  }
  .arrow span:nth-child(3){
      animation-delay: -0.4s;
  }
  @keyframes animate {
      0%{
          opacity: 0;
          transform: rotate(45deg) translate(-20px,-20px);
      }
      50%{
          opacity: 1;
      }
      100%{
          opacity: 0;
          transform: rotate(45deg) translate(20px,20px);
      }
  }

.textSkills {
    position: relative;
    font-size: 21px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: #666666;
    margin-top: 5em;
}

  .textSkills:before, .textSkills:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 20%;
    height: 2px;
    content: '\a0';
    background-color: #dddddd;
}

.textSkills:before {
    margin-left: -20%;
    text-align: right;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 5em;
    background-color: #f7f7f7;
    padding-bottom: 3em;
}

@media screen and (max-width:1200px){
    .flip-card{
        width: 40%;
    }
}

@media screen and (max-width: 600px){
    .flip-card{
        width: 70%;
    }
}

.boxTitle {
    font-family: 'Dosis', sans-serif;
    font-size: 45px;
    margin-top: 2.5em;
    color: #fafafa;
    width: 100%;
    transform: rotate(-20deg);
    text-align: center;
}

.boxList {
    font-family: 'Dosis', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #000000;
}

.pushDwn {
    margin-top: 5em;   
}

.card {
    padding: 50px;
    text-align: center;
}

.textSkills {
    color: #e53100;
    font-weight: 600;
}


.flip-card {
    background-color: transparent;
    box-sizing: border-box;
    margin: 20px;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-image: url("../../images/space.jpg");
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    background-color: #c2c2c2;
    border: 1.5px solid #000000;
    transform: rotateY(180deg);
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    backface-visibility: hidden;
}