.projectContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 5em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #f7f7f7;
}

.projectContainer2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 5em;
}

.box3 {
    width: 40%;
    height: auto;
    margin: 10px;
    box-sizing: border-box;
    text-align: left;  
    margin-bottom: 5em; 
    margin-top: 5em;
}

@media screen and (max-width:1200px) {
    .box3 {
        width: 40%;
        height: auto;
    }
    .keepPUPBox {
        margin-top: -5px;
    }
}

@media screen and (max-width:600px) {
    .box3 {
        width: 90%;
    }
}

.appTitle {
    font-size: 55px;
    margin-bottom: 0.5em;
    margin-top: 1em;
    color: #111111;
    font-family: 'Dosis', sans-serif;
    float: center;
}

.appDescription {
    font-family: 'Dosis', sans-serif;
    float: center;
}

.pup {
    width:65%; 
    height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.codeCard {
    width:65%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.boldText {
    font-weight: 800;
}