.projectBox {
    box-sizing: border-box;
    margin: 25px;
    width: 325px;
    height: 250px;
    perspective: 1000px;
    padding-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    cursor: pointer;
}

.projectIMG {
    background-image: url(https://images.unsplash.com/photo-1558655146-364adaf1fcc9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80);
    border-radius: 5px;
    margin: 8px;
    margin-top: -3px;
    height: 175px;
}

.projectInfo {
    margin-left: -35px;
}

.projectTitle {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.projectAbout {
    font-family: 'Dosis', sans-serif;
    color: #666666;
    margin-top: -60px;
}

#projectHover { transition: all .2s ease-in-out; }
#projectHover:hover { transform: scale(1.1); }

.devIconBox {
    float: right;
    margin-top: 10px;
}

.devIconBox2 {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}

.devIcon {
    width:35px;
}

.devIcon2 {
    width: 30px;
}

/* .projectContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 5em;
    background-color: #f7f7f7;
}

.projectContainer2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 5em;
}

.box3 {
    width: 40%;
    height: auto;
    margin: 10px;
    box-sizing: border-box;
    text-align: left;  
    margin-bottom: 5em; 
    margin-top: 5em;
}

@media screen and (max-width:1200px) {
    .box3 {
        width: 40%;
        height: auto;
    }
    .keepPUPBox {
        margin-top: -5px;
    }
    
}

@media screen and (max-width:600px) {
    .box3 {
        width: 90%;
    }
}

.appTitle {
    font-size: 55px;
    margin-bottom: 0.5em;
    margin-top: 1em;
    color: #111111;
    font-family: 'Dosis', sans-serif;
    float: center;
}

.appDescription {
    font-family: 'Dosis', sans-serif;
    float: center;
}

.pup {
    width:65%; 
    height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.codeCard {
    width:65%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.codecardBox {
    margin-bottom: -10px;
}

.boldText {
    font-weight: 800;
}

.tech {
    margin-top: -40px;
}

.circle {
    width: 90%;
    cursor: pointer;
}

.doomsday {
    background-color: #ffffff;
}

.click {
    color: #e53100;
    cursor: pointer;
} */