.projectBox {
    box-sizing: border-box;
    margin: 25px;
    width: 400px;
    height: 300px;
    perspective: 1000px;
}

.container2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    padding-top: 8em;
    margin: auto;
}

.container3 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    padding-top: 5em;
    margin: auto;
}

.webApp {
    border: 1px solid #181212;
    border-radius: 5%;
}

.appTitle {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 24px;
    letter-spacing: 6px;
    margin-top: 3em;
}

.appDesc {
    margin-top: -5em;
}

.appCaps {
    font-size: 17px;
}

.therabodyCont {
    text-align: center;
}

.therabodyMobile {
    width: 16em;
}

.pushDown {
    margin-top: 10em;
}

.projectInfo {
    text-align: center;
    margin-top: 7em;
}

.projectTitle {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 24px;
    font-weight: 200;
}

.projectAbout {
    font-family: 'Averia Sans Libre', cursive;
    color: #666666;
    margin-top: -60px;
}

.oop {
    background-image: url('../../images/oop.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 5px;
    margin: 8px;
    margin-top: -3px;
    height: 175px;
}

@media screen and (max-width: 600px){
    .projectBox {
        text-align: center;
    }
    .appTitle {
        margin-top: -1em;
    }
    .keepup {
        margin-top: -14em;
    }
    .mobileBox {
        margin-top: 21.5em;
    }
}