.projectBox {
    box-sizing: border-box;
    margin: 25px;
    width: 325px;
    height: 250px;
    perspective: 1000px;
    padding-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    cursor: pointer;
}

.projectIMG {
    border-radius: 5px;
    margin: 8px;
    margin-top: -3px;
    height: 175px;
    overflow: hidden;
}

.image {
    margin-left: -25px;
}

.projectInfo {
    margin-left: -35px;
}

.projectTitle {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.projectAbout {
    font-family: 'Dosis', sans-serif;
    color: #666666;
    margin-top: -60px;
}

#projectHover { transition: all .2s ease-in-out; }
#projectHover:hover { transform: scale(1.1); }

.devIconBox {
    float: right;
    margin-top: 19px;
    margin-right: 5px;
}

.devIconBox2 {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

.devIcon {
    width:25px;
}

.devIcon2 {
    width: 25px;
}

.oop {
    background-image: url('../../images/oop.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 5px;
    margin: 8px;
    margin-top: -3px;
    height: 175px;
}