.aboutTitle {
    font-size: 55px;
    margin-bottom: 0.5em;
    color: #111111;
    margin-top: 2.5em;
    width: 100%;
}

.aboutSubTitle {
    color: #111111;
    margin-top: -10px;
    width: 90%;
    font-weight: 800;
    margin-bottom: -1px;
}

.aboutSpan {
    color: #111111;
}

.me {
    width:80%; 
    height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    
}

.container2 {
    width: 100wh;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 2em;
    margin-bottom: 5em;
    font-family: 'Dosis', sans-serif;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container3 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 5em;
    margin-bottom: -10em;
    font-family: 'Dosis', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #f7f7f7;
}

@media only screen and (max-device-width: 1366px) {
    .container2 {
      background-attachment: scroll;
      
    }
    .container3 {
        background-attachment: scroll;
        text-align: center;
      }
  }

.box2 {
    width: 45%;
    height: auto;
    margin: 5px;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 5em;
    margin-top: 5em;
}

.boxAbout {
    width: 30%;
    margin-top: 3em;
}

.milBox {
    width: 30%;
}


@media screen and (max-width:1200px){
    .box2{
        width: 50%;
    }
    .me{
        margin-left: auto;
        margin-right: auto;
    }
    .boxImage{
        margin-top: -10px;
    }
    .aboutTitle{
        margin-top: 20px;
    }
    span{
        width: 75px;
    }
}

@media screen and (max-width: 600px){
    .box2{
        width: 100%;
    }
    .me{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .rifleImage{
        margin-bottom: -60px
    }
}

p {
    width: 75%;
    margin: auto;
    position: relative;
    margin-bottom: 3em;
    font-family: 'Dosis', sans-serif;
}

.moby {
    max-width: 100%;
    position: relative;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .myEdu {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 6%;
    writing-mode: vertical-rl;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 1; 
    color: #e53100;
    font-family: 'Dosis', sans-serif;
    font-size: 100px;
  }

  .eduTitle {
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 10px;
    margin-top: -21px;
  }
  .date {
      color: #666666;
      font-size: 18px;
      padding-bottom: -30px;
      margin-top: -13px;
  }

.milTitle {
    font-size: 55px;
    margin-bottom: 0.5em;
    color: #111111;
    width: 100%;
}

.description {
    margin-top: -45px;
    color: #111111;
}

.ega {
    width: 60%; 
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}