.textBox {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 6em;
}

.text {
    font-size: 15px;
    font-family: 'Averia Sans Libre', cursive;
    letter-spacing: 2px;
    margin: auto;
}

.firstcharacter {
    color: #181212;
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: -3em;
    margin: auto;
}

.cardBox {
    box-sizing: border-box;
    margin: 15px;
    width: 400px;
    height: 300px;
    perspective: 1000px;
    padding-top: 10px;
}

.boxCont {
    text-align: center;
    margin-top: -5px;
}

.boxTitle {
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color: #181212;
    width: 100%;
    text-align: center;
    margin-top: -5px;
}

.boxList {
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;
    color: #666666;
}

.aboutMeDiv {
    width: 50%;
    margin: auto;
    text-align: center;
}

.aboutMe {
    font-family: 'Patrick Hand', cursive;
    font-size: 17px;
    margin-top: 2em;
}

.sec {
    margin-top: -30px;
}

@media screen and (max-width:1200px){
    .aboutTitle {
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .speech-bubble {
        width: 80%;
    }
    .aboutTitle {
        font-size: 30px;
    }
    .aboutSpan {
        font-size: 20px;
        width: 100%;
    }
}

.aboutSpan {
    color: #fafafa;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 5px;
    font-size: 20px;
    width: 100%;
}

.me {
    width: 70%; 
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.boxImage {
    margin-top: 10px;
}

.container2 {
    width: 100wh;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    font-family: 'Dosis', sans-serif;
}


.container3 {
    width: 100wh;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    font-family: 'Dosis', sans-serif;
}

@media only screen and (max-device-width: 1366px) {
    .container2 {
      background-attachment: scroll;
      text-align: center;
    }
    .container3 {
        background-attachment: scroll;
        text-align: center;
      }
}

.boxAbout {
    width: 80%;
    margin-top: 0.1em;
}


@media screen and (max-width:1200px){
    .box2{
        width: 50%;
    }
    .me{
        margin-left: auto;
        margin-right: auto;
    }
    .boxImage{
        margin-top: -10px;
    }
    .aboutTitle{
        margin-top: 1em;
    }
    span{
        width: 75px;
    }
    .mobileBox {
        margin-bottom: 30px;
    }
    .aboutMeDiv {
        width: 80%;
    }
}

@media screen and (max-width: 600px){
    .box2{
        width: 100%;
    }
    .me{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .description {
        width: 75%;
    }
    .information {
        width: 65%;
    }
    .container {
        width: 90%;
    }
}

p {
    width: 75%;
    margin: auto;
    position: relative;
    margin-bottom: 3em;
    font-family: 'Averia Sans Libre', cursive;
    color: #181212;
    font-size: 14px;
    line-height: 1.5;
}

.graduate {
    width: 35px;
}

.pushUP {
    margin-top: 5em;
}
  
.education {
    color: #181212;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 15px;
    margin-top: 2em;
    letter-spacing: 5px;
    text-align: center;
}

.eduTitle {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 13px;
    color: #181212;
    width: 100%;
    text-align: center;
    margin-top: .5em;
    margin-bottom: .5em;
    letter-spacing: 6px;
}

.date {
    color: #181212;
    font-family: 'Averia Sans Libre', cursive;
    text-align: center;
    letter-spacing: 5px;
    font-size: 12px;
    margin-bottom: .5em;
}

.description {
    color: #181212;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 14px;
    line-height: 1.5;
    margin-top: .5em;
}

.milService {
    color: #181212;
    margin-bottom: 3em;
    border-radius: 50px;
    width: 400px;
    height: 300px;
    font-family: 'Averia Sans Libre', cursive;
}

.one {
    margin-top: 2em;
}

.information {
    margin-top: .5em;
    font-size: 14px;
}