.aboutTitle {
    font-size: 55px;
    margin-bottom: 0.5em;
    color: rgb(229, 49, 0);
    font-weight: bold;
}

.aboutSubTitle {
    color: #666666;
    font-size: 25px;
    margin-top: -25px;
    width: 90%;
}

.aboutSpan {
    font-size: 20px;
}

.main {
    background-color: #ffffff;
}

.me {
    width:80%; 
    height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}

.container2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 2em;
    margin-bottom: 5em;
    font-family: 'Dosis', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.box2 {
    width: 45%;
    height: auto;
    margin: 5px;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 5em;
    margin-top: 5em;
}


@media screen and (max-width:1200px){
    .box2{
        width: 50%;
    }
    .me{
        margin-left: auto;
        margin-right: auto;
    }
    .boxImage{
        margin-top: -10px;
    }
}

@media screen and (max-width: 600px){
    .box2{
        width: 100%;
    }
    .me{
        margin-left: auto;
        margin-right: auto;
    }
}

.myEdu {
    width: 100%;
    color: #0055a5;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    margin-top: 5em;
}

