.speech-bubble {
	position: relative;
	background: #ffffffd8;
    border-radius: 50px;
    margin: auto;
    padding: 1px;
    width: 45%;
    margin-top: 7em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 55%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #ffffffd8;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
    margin-bottom: -20px;
}

.textBox {
    width: 100%;
    margin: auto;
    text-align: center;
}

.text {
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
    margin-top: 2em;
}

.boyBox {
    margin: auto;
    text-align: center;
    
}

.boy {
    width: 350px;
    margin-top: -9em;
}

.container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: -2em;
    margin: auto;
}

.textSkills {
    position: relative;
    font-size: 21px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: #ffffff;
    margin-top: 4em;
}

  .textSkills:before, .textSkills:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 20%;
    height: 2px;
    content: '\a0';
    background-color: #ffffff;
}

.textSkills:before {
    margin-left: -20%;
    text-align: right;
}

.cardBox {
    box-sizing: border-box;
    margin: 15px;
    width: 400px;
    height: 300px;
    perspective: 1000px;
    padding-top: 10px;
    /* background-color: #ffffffd8;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.boxCont {
    text-align: center;
    margin-top: -5px;
}

.boxTitle {
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color: #181212;
    width: 100%;
    text-align: center;
    margin-top: -5px;
}

.boxList {
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;
    color: #666666;
}

.aboutMeDiv {
    width: 50%;
    margin: auto;
    text-align: center;
}

.aboutMe {
    font-family: 'Patrick Hand', cursive;
    font-size: 17px;
    margin-top: 2em;
}

.sec {
    margin-top: -30px;
}

@media screen and (max-width:1200px){
    .aboutTitle {
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .speech-bubble {
        width: 80%;
    }
    .aboutTitle {
        font-size: 30px;
    }
    .aboutSpan {
        font-size: 20px;
        width: 100%;
    }
}

.aboutSpan {
    color: #fafafa;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 5px;
    font-size: 20px;
    width: 100%;
}

.me {
    width: 70%; 
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.boxImage {
    margin-top: 10px;
}

.container2 {
    width: 100wh;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    font-family: 'Dosis', sans-serif;
}


.container3 {
    width: 100wh;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    font-family: 'Dosis', sans-serif;
}

@media only screen and (max-device-width: 1366px) {
    .container2 {
      background-attachment: scroll;
      text-align: center;
    }
    .container3 {
        background-attachment: scroll;
        text-align: center;
      }
}

.boxAbout {
    width: 80%;
    margin-top: 0.1em;
}


@media screen and (max-width:1200px){
    .box2{
        width: 50%;
    }
    .me{
        margin-left: auto;
        margin-right: auto;
    }
    .boxImage{
        margin-top: -10px;
    }
    .aboutTitle{
        margin-top: 1em;
    }
    span{
        width: 75px;
    }
    .mobileBox {
        margin-bottom: 30px;
    }
    .aboutMeDiv {
        width: 80%;
    }
}

@media screen and (max-width: 600px){
    .box2{
        width: 100%;
    }
    .me{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .speech-bubble {
        width: 90%;
        margin-top: 5em;
    }
}

p {
    width: 75%;
    margin: auto;
    position: relative;
    margin-bottom: 3em;
    font-family: 'Dosis', sans-serif;
}

.graduate {
    width: 35px;
}
  
.education {
    color: #ffffff;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    margin-top: 2em;
    text-shadow: 2px 2px #181212;
}

.eduTitle {
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 2px 2px #181212;
    width: 100%;
    text-align: center;
    margin-top: .5em;
    margin-bottom: 0;
    letter-spacing: 2px;
}

.date {
    color: #ffffff;
    font-family: 'Patrick Hand', cursive;
    text-shadow: 2px 2px #181212;
    text-align: center;
    letter-spacing: 2px;
    font-size: 18px;
}

.description {
    color: #ffffff;
    margin-top: -40px;
    font-family: 'Patrick Hand', cursive;
}

.milService {
    color: #ffffff;
    margin-bottom: 3em;
    border-radius: 50px;
    width: 400px;
    height: 300px;
    font-family: 'Patrick Hand', cursive;
}

.one {
    margin-top: 2em;
}

.information {
    margin-top: -40px;
}