.textBox {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 6em;
}

.text {
    font-size: 15px;
    font-family: 'Averia Sans Libre', cursive;
    letter-spacing: 2px;
    margin: auto;
}

.firstcharacter {
    color: #181212;
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: -3em;
    margin: auto;
}

.cardBox {
    box-sizing: border-box;
    margin: 15px;
    width: 400px;
    height: 300px;
    perspective: 1000px;
    padding-top: 10px;
}

.boxCont {
    text-align: center;
    margin-top: -5px;
}

.container3 {
    width: 100wh;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}


@media screen and (max-width:1200px){
    span{
        width: 75px;
    }
    .mobileBox {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px){
    .description {
        width: 75%;
    }
    .information {
        width: 65%;
    }
    .container {
        width: 90%;
    }
}

p {
    width: 75%;
    margin: auto;
    position: relative;
    margin-bottom: 3em;
    font-family: 'Averia Sans Libre', cursive;
    color: #181212;
    font-size: 14px;
    line-height: 1.5;
}

.graduate {
    width: 35px;
}

.pushUP {
    margin-top: 5em;
}
  
.education {
    color: #800808;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 15px;
    margin-top: 2em;
    letter-spacing: 5px;
    text-align: center;
}

.eduTitle {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 13px;
    color: #181212;
    width: 100%;
    text-align: center;
    margin-top: .5em;
    margin-bottom: .5em;
    letter-spacing: 6px;
}

.date {
    color: #181212;
    font-family: 'Averia Sans Libre', cursive;
    text-align: center;
    letter-spacing: 5px;
    font-size: 12px;
    margin-bottom: .5em;
}

.description {
    color: #181212;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 14px;
    line-height: 1.5;
    margin-top: .5em;
}

.milService {
    color: #181212;
    margin-bottom: 3em;
    border-radius: 50px;
    width: 400px;
    height: 300px;
    font-family: 'Averia Sans Libre', cursive;
}

.one {
    margin-top: 2em;
}

.information {
    margin-top: .5em;
    font-size: 14px;
}