.aboutTitle {
    font-size: 55px;
    margin-bottom: 0.5em;
    color: #e53100;
    font-weight: bold;
    margin-top: 2.5em;
}

.aboutSubTitle {
    color: #fafafa;
    font-size: 25px;
    margin-top: -25px;
    width: 90%;
}

.aboutSpan {
    font-size: 20px;
    color: #fafafa;
}

.main {
    background-color: #ffffff;
}

.me {
    width:80%; 
    height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}

.container2 {
    width: 100wh;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 2em;
    margin-bottom: 5em;
    font-family: 'Dosis', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../../images/bg2.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media only screen and (max-device-width: 1366px) {
    .container2 {
      background-attachment: scroll;
    }
  }

.box2 {
    width: 45%;
    height: auto;
    margin: 5px;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 5em;
    margin-top: 5em;
}


@media screen and (max-width:1200px){
    .box2{
        width: 50%;
    }
    .me{
        margin-left: auto;
        margin-right: auto;
    }
    .boxImage{
        margin-top: -10px;
    }
    .aboutTitle{
        margin-top: 20px;
    }
    span{
        width: 75px;
    }
}

@media screen and (max-width: 600px){
    .box2{
        width: 100%;
    }
    .me{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

p {
    width: 75%;
    margin: auto;
    position: relative;
}

.moby {
    max-width: 100%;
    position: relative;
    padding-left: 100px;
    padding-top: 50px;
  }
  
  .myEdu {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 6%;
    writing-mode: vertical-rl;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 1; 
    color: #e53100;
    font-family: 'Dosis', sans-serif;
    font-size: 100px;
    font-weight: bold;
  }

