.articleBox {
    width: 100%;
    text-align: center;
    margin-top: 10em;
    margin-bottom: 5em;
}

.articles {
    font-size: 55px;
    color: #111111;
    margin-bottom: 0.5em;
}

.articleInfo {
    font-family: 'Dosis', sans-serif;
    width: 80%;
    margin: auto;
}

.oopContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 5em;
}

@media screen and (max-width:1200px) {
    .box3 {
        width: 40%;
        height: auto;
    }
    .keepPUPBox {
        margin-top: -5px;
    }
    
}

@media screen and (max-width:600px) {
    .box3 {
        width: 90%;
    }
}

.oopPic {
    width: 60%;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


